<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to the ultimate {{ title }}!
  </h1>
</div>


<!-- BANNER -->
<app-banner></app-banner>

<!-- NAV-BAR -->
<app-nav-bar></app-nav-bar>

<!-- BODY -->
<app-body></app-body>

<!-- FOOTER -->
<app-footer></app-footer>

<router-outlet></router-outlet>
